html {
     scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF5FF;
     padding-top: 60px;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
}

 .navbar-nav .nav-link {
      color: white;
      margin: 0 10px;
      
}

.nav-link:hover {
      text-decoration: underline;
}

.btn-signin {
      background-color: white;
      color: #f471b5;
      border-radius: 20px;
      font-weight: 500;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      
    }

    .btn-signin i {
      margin-right: 5px;
    }

footer {
    background-color: #F189B8;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-pink {
    background-color: #F189B8 !important;
}
